body {
    background-color: #F0F2F3;
    font-family: 'Readex Pro', 'Times New Roman', Times, serif;
    color: #424242;
}

.toy-console {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 800px;
    margin: 100px auto;
    border-radius: 50px;
    background-color: #FF7979;
    
}

/*  SECTION 1: TOP */
.title {
    color: #F6E58D;
    letter-spacing: 4px;
}

/* SECTION 2: MIDDLE */
.screen {
    width: 800px;
    height: 600px;
    background-color: #F0F2F3;
}

.grid-container {
    padding: 0;
    margin: 0;
    display: flex;
}

.row {
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.cell {
    border: solid;
    border-color: #DFE4EA;
    border-width: 1px;
}

/* SECTION 3: BOTTOM */
.bottom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

h2 {
    color: #FFFFFF;
}

.pixel-size, .mode {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mode {
    width: 25%;
}

button {
    font-family: 'Readex Pro', 'Times New Roman', Times, serif;
    color: #424242;
    background-color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #A4B0BE;
    color: #FFFFFF;
}

.active-pixel, .active-mode {
    background-color: #A4B0BE;
    color: #FFFFFF;
}

#clear-grid {
    color: #FF7979;
}

#clear-grid:hover {
    color: #FFFFFF;
}

/* SECTION 4: FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#github {
    font-size: 26px;
    color: #424242;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }